libs/
docs/

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*

.svn/
obj/
bin/
build/
!data/
xcuserdata/

ipch/
*.suo
*.opensdf
*.vcxproj.user
*.vsxproj.filters

*.obj
*.tlog
*.vcxproj.filters
*.sdf
*.pdb
*.idb
*.pch
Debug/
Release/


*~.xml

# Setting for Production Streamer
# Include data folder
# Excludes videos
# Excludes fonts
!Production_SDStreamer/bin/
Production_SDStreamer/bin/data/*.ttf
Production_SDStreamer/bin/data/videos/*
!Production_SDStreamer/bin/data/videos/.gitkeep